header {
    background-color:white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

body{
    background-image: url("../img/pattern.jpg");
    margin:0px;
}

h3 {
    border-width: 1px;
}

section{
    background-color: white;
    margin-top: 70px;
    margin-left: 175px;
    margin-right: 175px;
    padding: 10px;
}

article{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

p{
    text-align: justify;
}

footer{
    position: static;
    background-color: black;
}

h5{
    text-align: center;
    color:white;
    padding: 20px;
}